
#flexContainer{
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  width: 60%;
  height: 800px;
  background-color: pink;
}

 /*The character cards*/
.charCard {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px;
  padding: 8px;
  background-color: #888;
  height: 200px;
  width: 160px;
}

/*Card Title, name of character*/
.charTitle{
    background-color: red;
    height: 40px;
    width: 160px;
}

  /*Button to open and close modal*/
.modalBtn{
  background-color: red;
    height: 40px;
    width: 120px;
}
  .modalBtn:hover{
      background-color: blue;
  }

  /*Next and previous button*/
.page-button{
    display: inline-block;
    background-color: blue;
    padding: 8px;
    margin: 20px;
    height: 30px;
    width: auto;
}

  .page-button:hover{
    background-color: white;
  }

  /*---MODAL STYLING---*/

  /*The Modal (background)*/
.modal {
    display: none;
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
  }
  
  /*Modal Content/Box*/
  #modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }
  
  /*The Close Button*/
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }